<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div>
    <p>
        <a th:href="@{/users/{id}/musiclists/new(id=${userId})}">Add New MusicList</a>
    </p>
    <p> Trial member can have 3 lists, and 30 musics per list at a time. </p>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>List Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="musiclist, listStat : ${musiclists}">
            <td th:text="${listStat.index + 1}"></td>
            <td>
                <a th:href="@{/users/{id}/musiclists/{musicListId}(id=${userId}, musicListId=${musiclist.id})}" th:text="${musiclist.listName}"></a>
            </td>
            <td th:text="${musiclist.description}"></td>
        </tr>
        </tbody>
    </table>
</div>
<a th:href="@{/users/{id}(id=${userId})}">Back To User Page</a>
</body>
</html>