<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<form th:action="@{/users/{userId}/musiclists/new(userId=${userId})}" method="post">
    <div>
        <label for="listName">list name you want</label>
        <input type="text" id="listName" name="listName" placeholder="list name">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" placeholder="description for your list">
    </div>
    <button type="submit">Create!</button>
</form>

</body>
</html>
