<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container">
  <!--@{userRegisterForm}-->
  <form action="/users/new" method="post">
    <div class="form-group">

      <p>
      <label for="username">user name</label>
      <input type="text" id="username" name="username" placeholder="Insert your user name">
      </p>

      <p>
        <label for="realName">real name</label>
        <input type="text" id="realName" name="realName" placeholder="Insert your real name">
      </p>

      <p>
      <label for="introduction">Self Introduction</label>
      <input type="text" id="introduction" name="introduction" placeholder="Introduce yourself">
      </p>
      <p>
      <label for="userStatus">Membership</label>
      <input type="checkbox" id="userStatus" name="userStatus" value="membership">
      </p>
    </div>
    <button type="submit">등록</button>
  </form>
  </div>

</body>
</html>