<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <!--For developer-->
                <th>본명</th>
                <th>상태</th>
                <th>소개</th>
                <!--Until here-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>

                <!--For developer-->
                <td th:text="${user.realName}"></td>
                <td th:text="${user.userStatus}"></td>
                <td th:text="${user.introduction}"></td>
                <!--Until here-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>